<div id="articles">
  <h2 id="month">
    <%= link_to "<", date: date.prev_month %>
    <%= date.strftime("%B %Y") %>
    <%= link_to ">", date: date.next_month %>
  </h2>
  <%= calendar date do |date| %>
    <%= date.day %>
    <% attivita.each do |a|%>
	    <% if a[date] %>
	      <% a[date].each do |at|%>
	       <li><%="attivita postata da #{Utente.find(at.utente_id).nome }" %></li>
	       <% end %>
	    <%end%>
	<% end %>
  <% end %>
</div>