<%= form_tag ("partecipanti_gruppo/create") do |f| %>
<div class="gruppi">  
	
	<% @gruppi.each do |gruppo| %>
	<hr />
	
	<div class="single_group">
	   <h2>Nome</h2> <%= gruppo.nome %>
	   <h2>Manifesto:</h2><%= gruppo.manifesto %></li>
	   <h2>Classe:</h2> <li><%= gruppo.classe %></li>
	   
	    <h3>questo gruppo ha <%= pluralize(gruppo.utenti.count , 'utente') %> </h3>
	    <ul>
	    <li><%= link_to 'Show', gruppo %></li>
	    <li><%= link_to 'Edit', edit_gruppo_path(gruppo) %></li>
	    <li><%= link_to 'Destroy', gruppo, method: :delete, data: { confirm: 'Are you sure?' } %></li>
	    </ul>
       <% if current_user && !current_user.gruppi.exists?(gruppo) %>
	      <%= link_to "adding group",
                   :controller => "gruppi", 
                   :action => "adding_group", 
                   :gruppo_id => gruppo.id %>
        
	    <% end %>
	   
	<% end %>
</div>	
<br>
<hr />
<% end %>	