<%= form_for(@utente) do |f| %>
  <% if @utente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@utente.errors.count, "error") %> prohibited this utente from being saved:</h2>

      <ul>
      <% @utente.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :cognome %><br />
    <%= f.text_field :cognome %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
   <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :codice_fiscale %><br />
    <%= f.text_field :codice_fiscale %>
  </div>
  <div class="field">
    <%= f.label :anno_di_nascita %><br />
    <%= f.select :day, (1..31).to_a %>
    <%= f.select :month, (1..12).to_a %>
    <%= f.select :year, ((Time.now.year - 30)..(Time.now.year - 10)).to_a %>
  </div>
  <p>
  	<%= f.label "immagine profilo" %>
    <%= f.file_field :image %>
  </p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
