<div class="attivita_form">
	<%= form_for(@attivitum? @attivitum : @attivitum = Attivitum.new ) do |f| %>
	  <% if @attivitum.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@attivitum.errors.count, "error") %> prohibited this attivitum from being saved:</h2>
	
	      <ul>
	      <% @attivitum.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
	   <% if params[:data] %>
		   <%= f.hidden_field :data,:value => params[:data] %>
		   
	    <% else %>
		   <%= f.hidden_field :data,:value => data %>
		  <% end %>  
	  <div class="field">
	    <%= f.label "Nuova attivita #{current_user.nome} per questa data?"%><br />
	    <%= f.text_area :descrizione ,:cols => 35%>
	  </div>
	  
	  <div class="field">
	  	<%= f.label "vuoi condividere" %><br />
	  	<% current_user.gruppi.each do |g|%>
	  	    <%= g.nome %>
	  	    <%= g.calendario %>
	  	    <%= check_box_tag "gruppi_ids[]", Calendario.find_by_gruppo_id(g.id).id  %>
	  	<% end %>
	  </div>
	  <p>
	  	<%= f.label "immagine profilo" %>
	    <%= f.file_field :image %>
	  </p>
	 
	 
	  <div class="actions">
	    <%= f.submit %>
	  </div>
	<% end %>
</div>