<%= form_for(@partecipante) do |f| %>
  <% if @partecipante.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@partecipante.errors.count, "error") %> prohibited this partecipante from being saved:</h2>

      <ul>
      <% @partecipante.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :conversazione_id %><br />
    <%= f.number_field :conversazione_id %>
  </div>
  <div class="field">
    <%= f.label :utente_id %><br />
    <%= f.number_field :utente_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
