<h1>Listing partecipantes</h1>

<table>
  <tr>
    <th>Conversazione</th>
    <th>Utente</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @partecipantes.each do |partecipante| %>
  <tr>
    <td><%= partecipante.conversazione_id %></td>
    <td><%= partecipante.utente_id %></td>
    <td><%= link_to 'Show', partecipante %></td>
    <td><%= link_to 'Edit', edit_partecipante_path(partecipante) %></td>
    <td><%= link_to 'Destroy', partecipante, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Partecipante', new_partecipante_path %>
