<%= form_for(@partecipanti_gruppo) do |f| %>

  <div class="field">
    <%= f.label :utente_id %><br />
    <%= f.number_field :utente_id %>
  </div>
  <div class="field">
    <%= f.label :gruppo_id %><br />
    <%= f.number_field :gruppo_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
