<%= form_for(@gruppo) do |f| %>
  <% if @gruppo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gruppo.errors.count, "error") %> prohibited this gruppo from being saved:</h2>

      <ul>
      <% @gruppo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :manifesto %><br />
    <%= f.text_area :manifesto %>
  </div>
 
  <div class="field">
    <%= f.label :classe %><br />
    <%= f.text_field :classe %>
  </div>
  <p>
  	<%= f.label "immagine gruppo" %>
    <%= f.file_field :image %>
  </p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
