<h1>Listing gruppi</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Manifesto</th>
    <th>Libro</th>
    <th>Classe</th>
    <th>Scuola</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gruppi.each do |gruppo| %>
  <tr>
    <td><%= gruppo.nome %></td>
    <td><%= gruppo.manifesto %></td>
    <td><%= gruppo.libro_id %></td>
    <td><%= gruppo.classe %></td>
    <td><%= gruppo.scuola_id %></td>
    <td><%= link_to 'Show', gruppo %></td>
    <td><%= link_to 'Edit', edit_gruppo_path(gruppo) %></td>
    <td><%= link_to 'Destroy', gruppo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Gruppo', new_gruppo_path %>
